radcad==0.8.4
pytest==6.2.2
ipykernel==5.5.3
matplotlib==3.3.4
plotly==4.14.3
stochastic==0.6.0
typing_extensions==3.7.4.3
ipywidgets==7.6.3
notebook==6.4.1
cadCAD_tools==0.0.1.4
diskcache==5.2.1
pylint==2.8.3
scikit-learn
